.navBarContainer {
    height: 20%;
    background: whitesmoke;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-right: 2rem;
}

.text {
    font-size: xx-large;
    color:  #524f4f;
}