
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    padding-top: 2rem;
}

.title {
    width: 90%;
    border-radius: 1rem;
}

.lectureTitleBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    
    width: 90%;
    border-radius: 2rem;
}

.left {
    flex: 2
}

.bottomButtonBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
}

.addButton {
    border-radius: 2rem;
    height: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border: 0;
    
}