.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
}

.lectureTitleBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottomButtonBox {
    display: flex;
    flex-direction: row;
}