.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    
    width: 90%;
    border-radius: 2rem;
  }

  .question {
    width: 90%;
    border-radius: 1rem;
  }

  .option {
    border-radius: 1rem;
  }

  .optionBox {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }

 

  .mContainer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.radioButtonLabelAlignment {
    vertical-align: baseline;
    padding: 3px;
    margin: 3px;
}

.exampleText {
  color: grey;
}

.exampleText:hover {
  color: green;
}

.clearIconWrapper {
  position: relative;
  left: 51%; 
  top: -5vh;
  /*right: 5%; */
  /* bottom: 80vh; */
  z-index: 2;
  background-color: #fff7f7;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
  opacity: 0.9;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearIconWrapper:hover {
  transition: 0.5s;
  transform: rotate(360deg);
}

.switchOrderingBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  position: absolute;
  right: 2%;
}

.arrow {
  transition: 0.1s;
}
.arrow:hover {
  color: grey;
}