.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    padding-top: 1rem;
}

.button {
    height: 3rem;
}

.letter {
    padding: 1rem
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selectBox {
    font-size: 1.75rem;
}

.badgeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-right: rem;
    padding-left: 3rem;

}