.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    margin-bottom: 1em;
    
    width: 75%;
    text-align: left;
    border-radius: 3rem;
  }
  
  /* wider width since no toggle buttons*/
  .cardClient {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    margin-bottom: 1em;
    
    width: 90%;
    text-align: left;
    border-radius: 3rem;
  }


  .container {  
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
  }
  
  .toggleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }