.stylistic_rounded_button {
    border-radius: 1.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border: 0;
    
}
.deckCard {
    padding: 1rem;
}