.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    
    width: 90%;
    border-radius: 2rem;
  }

  .question {
    width: 90%;
    border-radius: 1rem;
  }

  .option {
    border-radius: 1rem;
  }

  .optionBox {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }

 

  .mContainer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}